<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <title>Pelicula</title>
</head>

<body>
    HI
    <p>HELLO</p>
</body>
</html>