<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Custom Styles -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- JQuery --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Pelicula</title>
</head>

<body>
    <div class="container header">
        <div class="main-container"> 
            <div class="centered">
                <h1> PELICULA </h1>
                <h3>MOVIES THAT SUIT YOU</h3>
            </div>
            <div class="centered searchbar">
                <form onsubmit="event.preventDefault();">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="search-box" placeholder="Search" name="search_input">
                        </div>
                        <div class="form-group col-md-4">
                            <select id="drop-box" class="form-control">
                                <option selected>Choose...</option>
                                <option value='1'><!-- First Query --></option>
                                <option value='2'>Universally Acclaimed Films</option>
                                <option value='3'><!-- Third Query --></option>
                                <option value='4'><!-- Fourth Query --></option>
                                <option value='5'>Best or Worst Film/s In Every/Each Year of Release According To the Ratings</option>
                                <option value='6'>Character played and their job by specific person in a specific film</option>
                                <option value='7'><!-- Seventh Query --></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class ="d-flex justify-content-center">
                <button id="searchBtn" class = "btn">Search</button>
            </div>
            <!-- Button to go to searchbar-->
            <button id="upBtn" class="btn" onclick="document.documentElement.scrollTop = 0;">^</button>
        </div>
    </div>
    <div class="loading">
        Loading...
    </div>
    
    {{> none_found }}  
    <div class="container page2"> 
        {{#if movies}}
        <div class="container header-page2"> 
            <div class="centered">
                <h1>MOVIES</h1>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Cleopatra</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1911</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Charles L. Gaskill | 100</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama, History</h3>
                </div>
                <hr>
            </div>

            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>From the Manger to the Cross; or...</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1912</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Sidney Olcott | 60</h3>
                </div>
                <div class="row text-left">
                    <h3>Biography, Drama</h3>
                </div>
                <hr>
            </div>

            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Amore di Madre</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1914</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>D.W. Griffith | 55</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama</h3>
                </div>
                <hr>
            </div>
        </div>
        {{/if}}

        <!--Movies with Metascore-->
        {{> universally_acclaimed }} <!-- Partials -->
        
        {{!-- {{#if moviesMetascore}}
        <div class="container header-page2"> 
            <div class="centered">
                <h1>MOVIES</h1>
                <h3>With Metascore</h3>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Cleopatra</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1911</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Charles L. Gaskill | 100</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama, History</h3>
                </div>
                <div class="row text-left">
                    <h3>Metascore: 80</h3>
                </div>
                <hr>
            </div>
        </div>
        {{/if}} --}}

        <!--Production Companies-->
        {{#if productionCompanies}}
        <div class="container header-page2"> 
            <div class="centered">
                <h1>PRODUCTION COMPANIES</h1>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="centered">
                    <h3>Name of Company</h3>
                </div>
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Cleopatra</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1911</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Charles L. Gaskill | 100</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama, History</h3>
                </div>
                <div class="row text-left">
                    <h3>Metascore: 80</h3>
                </div>
                <hr>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="centered">
                    <h3>Name of Company</h3>
                </div>
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Amore di Madre</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1914</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>D.W. Griffith | 55</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama</h3>
                </div>
                <hr>
            </div>
        </div>
        {{/if}}

        <!--Actors-->
        {{#if actors}}
        <div class="container header-page2"> 
            <div class="centered">
                <h1>BRUCE LEE: 5</h1>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Cleopatra</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1911</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Charles L. Gaskill | 100</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama, History</h3>
                </div>
                <div class="row text-left">
                    <h3>Metascore: 80</h3>
                </div>
                <hr>
            </div>
        </div>
        {{/if}}

        <!--Years with highest and Lowest Rated Films-->
        {{> years_rating }} <!-- Partials -->

        <!--Character played/job by specific person in a specific film-->
        {{> character_job_actor }} <!-- Partials -->
        
        {{#if bestYearActor}}
        <div class="container header-page2"> 
            <div class="centered">
                <h1>BRUCE LEE: 1911</h1>
            </div>
        </div>
        <div class="container lists"> 
            <div class="container input-list">
                <div class="row"> 
                    <div class="col-lg-9 text-left">
                        <h2>Cleopatra</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <h2>1911</h2>
                    </div>
                </div>
                <div class="row text-left">
                    <h3>Charles L. Gaskill | 100</h3>
                </div>
                <div class="row text-left">
                    <h3>Drama, History</h3>
                </div>
                <div class="row text-left">
                    <h3>Metascore: 80</h3>
                </div>
                <hr>
            </div>
        </div>
        {{/if}}
    </div>
    <script type="text/javascript" src="/javascripts/checkQuery.js"></script>
</body>
</html>