<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Custom Styles -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- JQuery --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Pelicula</title>
</head>

<body>
    <div class="header">
        <div class="main-container">
            <div class="centered">
                <h1> PELICULA </h1>
                <h3>MOVIES THAT SUIT YOU</h3>
            </div>
            <div class="centered searchbar">
                <form onsubmit="event.preventDefault();">
                    <div class="form-row justify-content-center justify-content-md-end">
                        <div class="form-group col-md-1 col-0"></div>
                        <div class="form-group col-md-6 col-11 mr-md-1">
                            <input type="text" class="form-control pl-4" id="search-box" placeholder="Search" name="search_input">
                        </div>
                        <div id="actors-datalist">
                            {{> actors_datalist}}
                        </div>
                        <div class="form-group col-md-2 col-8 ml-md-2">
                            <select id="drop-box" class="form-control">
                                <option selected>Choose...</option>
                                <option value='1'>List of English Movies</option>
                                <option value='2'>List of Universally Acclaimed Films</option>
                                <option value='3'>Top 10 Production Companies and their Highest-rated Film</option>
                                <option value='4'>Filmography of a Specific Actor/Actress</option>
                                <option value='5'>The Best and Worst Films of Each Year According to Ratings</option>
                                <option value='6'>Job and/or Character Played by a Particular Person in a Film</option>
                                <option value='7'>Best Year in Film for a Specific Person and the Best Movie in that Given Year</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 col-0"></div>
                    </div>
                </form>
            </div>
            <div class ="d-flex justify-content-center">
                <button id="searchBtn" class = "btn"><i class="fas fa-search mr-2"></i>Search</button>
            </div>
            <!-- Button to go to searchbar-->
            <button id="upBtn" class="btn" onclick="document.documentElement.scrollTop = 0;">^</button>
        </div>
    </div>
    <div class="col-12 px-0" style="overflow-x: auto;">
        <nav class="ml-md-auto mr-md-0 mx-auto">
            <ul class="pagination d-flex align-items-center justify-content-center" id="pagination-all">
            </ul>
        </nav>
    </div>
    <div class="loading">
        Loading...
    </div>
    <div class="my-4" id="none-found">
    {{> none_found }}
    </div>

    <div class="container page2">
        <!--English Movies-->
        <div id="english-movies">
            {{> english_films}} <!-- Partials -->
        </div>

        <!--Movies with Metascore-->
        <div id="universally-acclaimed">
            {{> universally_acclaimed }} <!-- Partials -->
        </div>

        <!--Top 10 Production Companies and their Highest-rated Film-->
        <div id="production-companies">
            {{> top10_production_companies_films }} <!-- Partials -->
        </div>

        <!--Films by actor/actress-->
        <div id="actor-films">
            {{> actor_films }} <!-- Partials -->
        </div>

        <!--Years with highest and Lowest Rated Films-->
        <div id="years-rating">
            {{> years_rating }} <!-- Partials -->
        </div>

        <!--Character played/job by specific person in a specific film-->
        <div id="character-job-actor">
            {{> character_job_actor }} <!-- Partials -->
        </div>
        
        <!--Best Year in Film of a given person-->
        <div id="best-year">
            {{> best_year}} <!-- Partials -->
        </div>

    </div>
    <script type="text/javascript" src="/javascripts/checkQuery.js"></script>
</body>
</html>