.main-container.row {
    background-image: url("/images/head.jpg");
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 900px;
}