<div id="none-found">
    {{#if res}}
        <div class="container header-page2"> 
            <div class="centered">
                <h3>{{res}}</h3>
            </div>
        </div>
    {{/if}}
</div>