{{#if slice_results}}
<div class="container lists">
    <div class="container input-list">
        <div class="centered">
            <h3>Movies, made in <u>{{country}}</u>, with their year of release and genre</h3>
        </div>
        {{#each slice_results}}
        <div class="row">
            <div class="col-lg-9 text-left">
                <h2>{{title}}</h2>
            </div>
            <div class="col-lg-3 text-md-right text-left mt-lg-0 my-3">
                <h2>{{year}}</h2>
            </div>
        </div>
        <div class="row text-left">
            <h3 class="text-left">Genre: {{genre}}</h3>
        </div>
        <hr>
        {{/each}}
    </div>
</div>
{{/if}}